n8n-daily-digest-workflow.json
[{"name":"Daily Digest","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyDay","hour":5,"minute":30}]}},"type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"a0b1c2d3-e4f5-6789-0abc-daily-digest-cron","name":"Cron"},{"parameters":{"jsCode":"// Окно: только 8:30 по Москве (05:30 UTC), пн–пт.\nconst MOSCOW_OFFSET_MS = 3 * 60 * 60 * 1000;\nconst moscowDate = new Date(Date.now() + MOSCOW_OFFSET_MS);\nconst day = moscowDate.getUTCDay();\nconst isWeekday = day >= 1 && day <= 5;\nif (!isWeekday) return [];\nreturn [{ json: {} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"b1c2d3e4-f5a6-7890-bcde-timewindow-gate","name":"Time Window Gate"},{"parameters":{"method":"GET","url":"http://bridge:3000/calendar-feed","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"c2d3e4f5-a6b7-8901-cdef-fetch-calendar","name":"Fetch Calendar"},{"parameters":{"jsCode":"// Фильтр: события «сегодня» по МСК, impact === 'High', торговое окно 9:00–21:00 МСК.\nconst MOSCOW_OFFSET_MS = 3 * 60 * 60 * 1000;\nconst moscowNow = new Date(Date.now() + MOSCOW_OFFSET_MS);\nconst todayDateUTC = Date.UTC(moscowNow.getUTCFullYear(), moscowNow.getUTCMonth(), moscowNow.getUTCDate(), 0, 0, 0, 0);\n// торговое окно: 9:00 МСК = 06:00 UTC, 21:00 МСК = 18:00 UTC\nconst tradingStart = todayDateUTC + 6 * 60 * 60 * 1000;\nconst tradingEnd   = todayDateUTC + 18 * 60 * 60 * 1000;\n\nconst inputItems = $input.all();\nconst first = inputItems.length > 0 ? inputItems[0].json : null;\nconst payload = first && Array.isArray(first.items) ? first.items : [];\n\nif (!Array.isArray(payload)) {\n  return [{ json: { items: [] } }];\n}\n\nconst items = payload\n  .filter((e) => e && e.impact === 'High' && typeof e.title === 'string' && typeof e.date === 'string')\n  .map((e) => {\n    const eventMs = Date.parse(e.date);\n    if (Number.isNaN(eventMs)) return null;\n    return { ...e, eventMs };\n  })\n  .filter(Boolean)\n  .filter((e) => e.eventMs >= tradingStart && e.eventMs < tradingEnd);\n\nreturn [{ json: { items } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"d3e4f5a6-b7c8-9012-def0-compute-digest","name":"Compute Daily Digest"},{"parameters":{"method":"POST","url":"http://bridge:3000/daily-digest","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"items\": $json.items } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"id":"e4f5a6b7-c8d9-0123-ef01-send-bridge","name":"Send to Bridge"}],"connections":{"Cron":{"main":[[{"node":"Time Window Gate","type":"main","index":0}]]},"Time Window Gate":{"main":[[{"node":"Fetch Calendar","type":"main","index":0}]]},"Fetch Calendar":{"main":[[{"node":"Compute Daily Digest","type":"main","index":0}]]},"Compute Daily Digest":{"main":[[{"node":"Send to Bridge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}]
